:root {
    --bg-color: #fcf8f3;
    --branding-color: #a163ff;
    --secondary-color: #f9f7fe;
    --heading-font-family: "Poppins", sans-serif;
    --default-font-family: 'Source Sans Pro', sans-serif;
}
.body{
background-color: var(--bg-color);
}